<nav class="navbar">
  <h1>
    <a routerLink="/">GiphyApp</a>
  </h1>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/">Home</a>
    </li>
    <li routerLinkActive="active" *ngIf="auth.isAuthenticated()"><a routerLink="/saved-gifs" >My collection</a></li>
    <li routerLinkActive="active" *ngIf="auth.isAuthenticated()"><a routerLink="/add-new-gif">Add GIF</a></li>
  </ul>
  <div class="auth">
    <button
       class="btn" (click)="logout()"
       *ngIf="auth.isAuthenticated(); else log_in"
    >Log out</button>
    <ng-template #log_in>
      <button class="btn" (click)="login()">Log in</button>
    </ng-template>
  </div>
</nav>

<div class="container">
  <div class="card">
    <router-outlet></router-outlet>
  </div>
</div>



